/* Global Styles */
body {
    text-align: center;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    padding-bottom: 50px;
}

/* Header Styles */
header {
    background-color: #1f1f1f;
    padding: 1px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

header ul li a:hover {
    background-color: #00c4ff;
    color: #121212;
    border-radius: 5px;
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    margin: 5px 0px;
    background-color: #1f1f1f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-align: left;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00c4ff;
    color: #121212;
}

/* Project Profile Styles */
.projectProfileContainer {
    padding: 10px;
    margin: 0;
    background-image: url(projectbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bgcontain {
    padding: 20px;
    margin: 5% auto;
    text-align: left;
    font-size: 1.2em;
    border-radius: 20px;
    background-color: #1f1f1f;
    max-width: 1000px;
}

.projectTitle {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    animation: typing 4s steps(100, end);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.carouselContainer {
    position: relative;
    margin: 30px 0;
}

.carousel {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.carouselImage {
    min-width:100%;
    height:50vh;
    transition: opacity 1s ease-in-out;
    display: none;
}

    .carouselImage:first-child {
        display: block;
    }

.carouselControl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

    .carouselControl.prev {
        left: 10px;
    }

    .carouselControl.next {
        right: 10px;
    }

.projectDetails {
}

    .projectDetails h2 {
        font-size: 4vh;
        color: #00c4ff;
        margin-top: 10px;
        animation: typing 10s steps(100, end);
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

@keyframes typing {
    from {
        width: 0;
    }

    50% {
        width: 100%;
    }
}

.cursor {
    animation: blink .6s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* Footer Styles */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #00c4ff;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff;
}

@media (max-width: 480px) {
    /* Global Styles */
    body {
        text-align: center;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        background-color: #121212;
        color: #ffffff;
        line-height: 1.6;
        margin: 0;
    }

    /* Header Styles */
    header {
        background-color: #1f1f1f;
        padding: 20px 4px 20px 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        position: sticky;
        top: 0;
        z-index: 1000;
        font-size: 0.7rem;
    }

        header ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            header ul li {
                display: inline-block;
                margin: 0 0px;
                position: relative;
            }

                header ul li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    padding: 10px;
                    transition: background-color 0.3s, color 0.3s;
                }

                    header ul li a:hover {
                        background-color: #00c4ff;
                        color: #121212;
                        border-radius: 5px;
                    }

    /* Dropdown Styles */
    .dropdown-content {
        display: none;
        position: absolute;
        margin: 5px 0px;
        background-color: #1f1f1f;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        z-index: 1;
        width: 150px;
    }

        .dropdown-content a {
            display: block;
            padding: 10px;
            color: #ffffff;
            text-align: left;
            transition: background-color 0.3s;
        }

            .dropdown-content a:hover {
                background-color: #ffffff;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #00c4ff;
        color: #121212;
    }

    /* Footer Styles */
    footer {
        background-color: #1f1f1f;
        text-align: center;
        padding: 20px 0;
        position: sticky;
        bottom: 0;
    }

        footer a {
            text-decoration: none;
            color: #00c4ff;
            margin: 0 5px;
            font-weight: bold;
            transition: color 0.3s;
        }

            footer a:hover {
                color: #ffffff;
            }

}
