/* Contact Page Styles */
.contact {
    padding: 50px 10%;
    padding-bottom: 100px;
    text-align: left;
}

    .contact h1 {
        animation: typing 10s steps(60,end);
        font-size: 2.5em;
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

.contact p {
    color: #bbbbbb;
    margin-bottom: 40px;
    margin-right: 20px;
    font-size: 1.1em;
}

.contact-form {
    max-width: 90%;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 1em;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    background-color: #333333;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    margin: 0px 0px 0px 15px;
    border: none;
    border-radius: 10px;
    background-color: #00c4ff;
    color: #121212;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: white;
}
/* Responsive Design */
@media (max-width: 768px) {
    article {
        padding: 30px 5%;
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    /* Global Styles */
    body {
        text-align: center;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        background-color: #121212;
        color: #ffffff;
        line-height: 1.6;
        margin: 0;
    }

    /* Header Styles */
    header {
        background-color: #1f1f1f;
        padding: 20px 4px 20px 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        position: sticky;
        top: 0;
        z-index: 1000;
        font-size: 0.7rem;
    }

        header ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            header ul li {
                display: inline-block;
                margin: 0 0px;
                position: relative;
            }

                header ul li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 1em;
                    transition: background-color 0.3s, color 0.3s;
                }

                    header ul li a:hover {
                        background-color: #00c4ff;
                        color: #121212;
                        border-radius: 5px;
                    }

    /* Dropdown Styles */
    .dropdown-content {
        display: none;
        position: absolute;
        margin: 5px 0px;
        background-color: #1f1f1f;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        z-index: 1;
        width: 150px;
    }

        .dropdown-content a {
            display: block;
            padding: 10px;
            color: #ffffff;
            text-align: left;
            transition: background-color 0.3s;
        }

            .dropdown-content a:hover {
                background-color: #ffffff;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #00c4ff;
        color: #121212;
    }

        /* Footer Styles */
        footer {
            background-color: #1f1f1f;
            text-align: center;
            padding: 20px 0;
            position: sticky;
            bottom: 0;
            width: 100%;
        }
    
        footer a {
            text-decoration: none;
            color: #00c4ff;
            margin: 0 10px;
            font-weight: bold;
            font-size: .7rem;
            transition: color 0.3s;
        }
    
        footer a:hover {
            color: #ffffff;
        }
}

.cursor {
    animation: blink .6s infinite;
}

/* Animations */

@keyframes blink {
    to {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    50% {
        width: 100%;
    }
}
