html, body {font-family: "Pixelify Sans", sans-serif; height: 100%; margin:0px !important;}

.nav{
    font-family: "Pixelify Sans", sans-serif;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    width: 100%;
    padding: 0.5% 0% 0.5% 0%;
    z-index: 999;
}

.nav--top{
    position: relative; 
    top: 0; 
    left: 0; 
}

.nav--bottom{
    position: relative; 
    bottom: 0; 
    left: 0; 
}

.nav--bottom--fixed{
    position: fixed; 
    bottom: 0; 
    left: 0; 
}

.Text__nav{
    text-decoration: none;
    padding: .2em;
    transition: background-color .3s ease;
    border-radius: 10px;
    margin: 0px .5em;
}

.Text__nav--top:hover{
    background-color: #0088ff;
}

.Text__nav--bottom:hover{
    background-color: #0088ff;
    color: white;
}

.section{
    font-family: "Pixelify Sans", sans-serif;
    display:flex;
    flex-direction:column;
    padding: 2em 0em 2em 0em;
}

.sectionHeader{
    font-family: "Pixelify Sans", sans-serif;
    margin: 0em 0em 1em 0em;
}

.cardContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding: 1em 0em;
}

.card{
    box-sizing:border-box;
    scroll-snap-align: center;
    flex-shrink: 0;
    margin: 0em 1.3em;
    height: 20em;
    width: 20em;
    border-radius: 2em;
    box-shadow: 0px 4px 10px 0px rgb(19, 19, 19);
    transition: all .3s ease-in-out;
}

.card:hover{
    transform:  translateY(-0.5em);
    box-shadow: 0px 8px 10px 0px rgb(19, 19, 19);
}

.cardHeader{
    margin:0;
    transition: all .3s ease;
}

.cardHeader:hover{
    color: #64b2f7;
}

.cardCaption{
    margin:0.5em;
    text-overflow: clip;
}

.cardImg{
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    width:100%;
}

.cardImg2{
    margin-left:5em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    width: 10em;
}

.aboutContainer{
    align-self: center;
    padding: 2em;
    width: 40%;
    height: 40%;
    border-radius: 2em;
}

.aboutHeader{
    margin: 0;
}

.cursor {
    animation: blink .6s infinite;
}

.typed{
    animation: typing 4s steps(60, end);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

.typedLeft{
    animation: typing 4s steps(60, end);
    overflow: hidden;
    white-space: nowrap;
}

.postImage {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.bgcontain {
    padding: 2%;
    margin: 5% auto;
    text-align: left;
    font-size: 1.2em;
    border-radius: 2%;
    background-color: #1f1f1f;
    max-width: 80%;
}

.postImage__center {
    align-self: center;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


/* Animations */
@keyframes typing {
    from {
        width: 0;
    }

    50% {
        width: 100%;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

@media (max-width: 800px) {
    .cardContainer{
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 1em 0em;
    }

    .aboutContainer{
        align-self: center;
        padding: 2em;
        width: 80%;
        height: 80%;
        border-radius: 2em;
    }
  }