/* Global Styles */
body {
    text-align: center;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    padding-bottom: 50px;
}

/* Header Styles */
header {
    background-color: #1f1f1f;
    padding: 1px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

header ul li a:hover {
    background-color: #00c4ff;
    color: #121212;
    border-radius: 5px;
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    margin: 5px 0px;
    background-color: #1f1f1f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-align: left;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00c4ff;
    color: #121212;
}

/* Article Styles */
.aboutContainer {
    padding: 10px;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/index/aboutbg2.png);
}

.bgcontain {
    padding: 20px;
    margin: 5% auto;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
    max-width: 800px;
    background:rgba(31,31,31,0.7);
    backdrop-filter:blur(10px);
    border: solid;
    border-color: rgba(61,61,61,1);
}

.projectContainer, .blogContainer, .statContainer {
    padding: 0% 0%;
    margin: 0%;
    display: flex; /* Enables flexbox layout */
    justify-content: center;
    
}

.sectionTitle {
    font-size: 5.8vh;
    margin-bottom: -10px;
    padding-bottom: -10px;
    animation: typing 4s steps(100, end);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

}

h2 {
    margin-bottom: -40px;
    padding-bottom: 0px;
    animation: typing 4s steps(60,end);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3.5vh;
}

@keyframes typing{
    from{
        width:0;
    }
    50% {
        width: 100%;
    }
}

h3 {
    font-weight: normal;
    color: #bbbbbb;
}

/* Project Styles */

.Item {
    flex:1;
    margin: 30px;
    height: 400px;
    background-color: #1f1f1f;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}

img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    top: 0;
    height: 70%;
    width: 100%;
}

.Stat {
    flex: 1;
    margin: 30px;
    height: 300px;
    background-color: #1f1f1f;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}
.StatImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    top: 0;
    height: 60%;
    width: 100%;
}

.ItemTitle{
    position: relative;
    left: 3%;
    bottom: 2%;
    text-decoration:none;
    font-size:3vh;
    color: #00c4ff;
}

.ItemTitle2 {
    position: relative;
    left: 3%;
    bottom: 6%;
    font-size:3vh;
}

    .ItemTitle:hover {
        color: #b3edff;
    }

.ItemCaption {
    position: relative;
    left: 3%;
    bottom: 10%;
}

.StatCaption {
    position: relative;
    left: 10%;
    bottom: 18%;
}

.Stat:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}

.Item:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}

.cursor {
    animation: blink .6s infinite;
}

@keyframes blink{
    to{
        opacity:0;
    }
}

/* Footer Styles */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #00c4ff;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff;
}

@media (max-width: 480px) {
    /* Global Styles */
    body {
        text-align: center;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        background-color: #121212;
        color: #ffffff;
        line-height: 1.6;
        margin: 0;
    }

    /* Header Styles */
    header {
        background-color: #1f1f1f;
        padding: 20px 4px 20px 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        position: sticky;
        top: 0;
        z-index: 1000;
        font-size: 0.7rem;
    }

        header ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            header ul li {
                display: inline-block;
                margin: 0 0px;
                position: relative;
            }

                header ul li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    padding: 10px;
                    transition: background-color 0.3s, color 0.3s;
                }

                    header ul li a:hover {
                        background-color: #00c4ff;
                        color: #121212;
                        border-radius: 5px;
                    }

    /* Dropdown Styles */
    .dropdown-content {
        display: none;
        position: absolute;
        margin: 5px 0px;
        background-color: #1f1f1f;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        z-index: 1;
        width: 150px;
    }

        .dropdown-content a {
            display: block;
            padding: 10px;
            color: #ffffff;
            text-align: left;
            transition: background-color 0.3s;
        }

            .dropdown-content a:hover {
                background-color: #ffffff;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #00c4ff;
        color: #121212;
    }

    /* Article Styles */
    .aboutContainer {
        padding: 10px;
        margin: 0;
        background-image: url(images/index/aboutbg2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bgcontain {
        padding: 10px;
        margin: 5%;
        text-align: left;
        font-size: 1.2em;
        border-radius: 20px;
        background-color: #1f1f1f;
    }

    .projectContainer, .blogContainer, .statContainer {
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectionTitle {
        margin-bottom: 10px;
        padding-bottom: 10px;
        animation: typing 10s steps(100,end);
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    h2 {
        margin-bottom: -20px;
        padding-bottom: 0px;
        animation: typing 4s steps(60,end);
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        font-size: 3.5vh;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        50% {
            width: 100%;
        }
    }

    h3 {
        font-weight: normal;
        color: #bbbbbb;
    }

    /* Project Styles */

    .Item {
        flex: 1;
        margin: 20px 0;
        height: 300px;
        background-color: #1f1f1f;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: left;
    }

    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: relative;
        top: 0;
        height: 70%;
        width: 100%;
    }

    .ItemTitle {
        position: relative;
        left: 5%;
        bottom: 10%;
        text-decoration: none;
        font-size: 4vh;
        color: #00c4ff;
    }

    .ItemTitle2 {
        position: relative;
        font-size:3vh;
        left: 5%;
        bottom: 15%;
    }

    .ItemTitle:hover {
        color: #b3edff;
    }

    .ItemCaption {
        position: relative;
        left: 5%;
        bottom: 20%;
    }

    .Stat {
        flex: 1;
        margin: 10px 0;
        height: 300px;
        background-color: #1f1f1f;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: left;
    }

    .StatImg {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: relative;
        top: 0;
        height: 70%;
        width: 100%;
    }

    .StatCaption {
        position: relative;
        left: 5%;
        bottom: 40%;
    }

    .Stat:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
    }

    .Item:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
    }

    /* Footer Styles */
    footer {
        background-color: #1f1f1f;
        text-align: center;
        padding: 20px 0;
        position: sticky;
        bottom: 0;
    }

        footer a {
            text-decoration: none;
            color: #00c4ff;
            margin: 0 5px;
            font-weight: bold;
            transition: color 0.3s;
        }

            footer a:hover {
                color: #ffffff;
            }

}
